.logo img {
    height: 38px;
    width: auto;
    margin-bottom: 25px;
    transition: height 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(178, 43, 48, 0.7));
}


@media (max-width: 992px) {
    .logo img {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .logo img {
        margin-bottom: 15px;
    }
}